<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css"
    <meta charset="utf-8">
    <title>Project</title>
  </head>
  <body>
    <div id="container">

      <div id="header">
        <h1>Search for a word</h1>
          <div id="input_box">
            <input type="text" name="search" placeholder="Turtles">
            <input type="submit" value="search"
          </div>
      </div>
      <div id="box1">
        <h2>Definition</h2>
      </div>
      <div id="box2">
        <h2> Images </h2>
      </div>
      <div id="box3">
        <h2>Music</h2>
      </div>
      <div id="box4">
        <h2>Jokes</h2>
      </div>
      <div id="box5">
        <h2>Gif's</h2>
      </div>
      <div id="box6">
        <h2>Something</h2>
      </div>
    </div>
  </body>
</html>
