<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="resources/start.css">

    <meta charset="utf-8">
    <title>Start Page</title>
  </head>
  <body>
    <div id="container">
      <div id="topper">
        <br>
        <h1>Website Name</h1>
      </div>
      <div id="start_search">
        <h2>Search for a Word</h2>
        <div id="start_button">
          <form method = "post">
          <div id="box">
          <input type="text" name="search" placeholder="type here">
          </div>
          <br>
          <input type="submit" value="Search">
        </form>
        </div>
      </div>
      <div id="contents">
        <p>Searching for a word will result in getting numerous bits of information on your word, such as definition, music, images, gifs, jokes, and more!
      </div>
      <div id="credits">
        This was made by Nathan, Jesus, and Frank.
      </div>
    </div>
  </body>
</html>
